 /* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 32, ../sass/screen.scss */
body {
  font: 100% 'Comfortaa', sans-serif;
  color: #1a1a1a;
  text-align: left;
  background: #f3f4f6;
}

.logo img {
  width:100px;
  height: 100px;
}

/* line 40, ../sass/screen.scss */
a:link {
  color: #1a1a1a;
  opacity: 1;
  text-decoration: none;
}

/* line 47, ../sass/screen.scss */
a:visited {
  color: #1a1a1a;
  opacity: 1;
  text-decoration: none;
}

/* line 52, ../sass/screen.scss */
a:hover {
  color: #1a1a1a;
  opacity: 0.6;
  text-decoration: none;
}

/* line 57, ../sass/screen.scss */
a:active {
  color: #1a1a1a;
  opacity: 1;
  text-decoration: none;
}

#main-underline {
  border-bottom: 4px solid #524aac;
}

/* line 62, ../sass/screen.scss */
.productauthor {
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 12px;
}

/* line 68, ../sass/screen.scss */
.productedition {
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: .9em;
  font-weight: 600;
  margin-top: 18px;
}

/* line 74, ../sass/screen.scss */
.productinfo {
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  margin-top: 20px;
  line-height: 1.6;
}

/* line 81, ../sass/screen.scss */
.productnumber {
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 14px;
  margin-top: 20px;
}
@media (min-width: 700px) {
  /* line 81, ../sass/screen.scss */
  .productnumber {
    font-size: 0.750em;
    margin-top: 0px;
  }
}

/* line 93, ../sass/screen.scss */
.productprice {
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 1.0em;
  font-weight: 600;
  margin-top: 29px;
  margin-bottom: 34px;
}

/* line 100, ../sass/screen.scss */
.producttitle {
  color: #b71c1c !important;
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 18px;
}
@media (min-width: 700px) {
  /* line 100, ../sass/screen.scss */
  .producttitle {
    font-size: 1.4em;
  }
}

/* line 110, ../sass/screen.scss */
.productwrapper {
  margin-bottom: 60px;
}
@media (min-width: 700px) {
  /* line 110, ../sass/screen.scss */
  .productwrapper {
    margin-bottom: 76px;
  }
}

/* line 117, ../sass/screen.scss */
.button {
  /*Basic Button Styles*/
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  height: 46px;
  width: 340px;
  border-radius: 4px;
  border: 2px solid #1a1a1a;
  /*Text Styles*/
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 0.750em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 0.08em;
}
@media (min-width: 700px) {
  /* line 117, ../sass/screen.scss */
  .button {
    width: 300px;
  }
}

/* line 141, ../sass/screen.scss */
.button:focus {
  outline: none;
}

/* line 144, ../sass/screen.scss */
.button:active {
  outline: none;
  color: #1a1a1a;
}

/* line 148, ../sass/screen.scss */
.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

/* line 152, ../sass/screen.scss */
.emailbutton {
  /*Basic Button Styles*/
  background-color: #ffffff;
  height: 46px;
  width: 340px;
  border-radius: 4px;
  border: 2px solid #1a1a1a;
  display: inline;
  /*Text Styles*/
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 0.750em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  color: #1a1a1a;
  margin-top: 14px;
  -webkit-appearance: none;
  cursor: pointer;
}
@media (min-width: 700px) {
  /* line 152, ../sass/screen.scss */
  .emailbutton {
    margin-left: 6px;
    width: 100px;
    margin-top: 0px;
  }
}

/* line 178, ../sass/screen.scss */
.emailbutton:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

/* line 182, ../sass/screen.scss */
.emailbutton:focus {
  outline: none;
}

/* line 185, ../sass/screen.scss */
.email {
  /*Basic Button Styles*/
  box-shadow: none;
  background-color: #ffffff;
  display: inline;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #1a1a1a;
  display: inline-block;
  /*Text Styles*/
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 0.750em;
  font-weight: 400;
  text-align: left;
  padding-left: 14px;
  vertical-align: top;
  width: 320px;
}
@media (min-width: 700px) {
  /* line 185, ../sass/screen.scss */
  .email {
    width: 171px;
  }
}

/* line 208, ../sass/screen.scss */
.email:focus {
  outline: none;
}

/* line 211, ../sass/screen.scss */
.form {
  display: inline-block;
}

/* line 214, ../sass/screen.scss */
.formlabel {
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 20px;
}

/* line 220, ../sass/screen.scss */
.formwrapper {
  margin-bottom: 40px;
  margin-top: 10px;
}

/* line 224, ../sass/screen.scss */
.footerinfo1 {
  vertical-align: top;
  display: inline-block;
  width: 232px;
  margin-bottom: 30px;
}

/* line 230, ../sass/screen.scss */
.footerinfo2 {
  vertical-align: top;
  display: inline-block;
  width: 320px;
  margin-bottom: 30px;
}

/* line 236, ../sass/screen.scss */
.footercopy {
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: .9em;
  font-weight: bold;
  line-height: 1.9em;
}

/* line 242, ../sass/screen.scss */
.containerwrapper {
  padding-bottom: 30px;
  padding-top: 28px;
}

/* line 246, ../sass/screen.scss */
.h1 {
  color: #1a237e !important;
  font-family: 'Comfortaa', 'Comfortaa', 'Libre Baskerville', serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 24px;
}

/* line 253, ../sass/screen.scss */
.h2 {
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  float: left;
}

/* line 259, ../sass/screen.scss */
.h3 {
  color: #1a1a1a !important;
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  margin-bottom: 20px;
}

/* line 265, ../sass/screen.scss */
.infowrapper {
  vertical-align: top;
  display: inline-block;
  width: 340px;
}
@media (min-width: 700px) {
  /* line 265, ../sass/screen.scss */
  .infowrapper {
    width: 320px;
  }
}

/* line 274, ../sass/screen.scss */
.imagelink {
  border-bottom: none !important;
}

/* line 277, ../sass/screen.scss */
.imagewrapper {
  vertical-align: top;
  display: inline-block;
  margin-right: 48px;
  margin-top: 3px;
  overflow: hidden;
}
.aboutimage img {
  width: 1200px;
  height: 300px;
}

/* line 284, ../sass/screen.scss */
nav {
  width: 100%;
  text-align: right;
  margin-bottom: 38px;
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* line 292, ../sass/screen.scss */
nav ul li {
  display: inline-block;
  padding-left: 10px;
  padding-top: 4px;
}

/* line 297, ../sass/screen.scss */
li a {
  color: #333 !important;
}

/* line 300, ../sass/screen.scss */
.product {
  padding-top: 50px;
}

/* line 303, ../sass/screen.scss */
.sitewrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
}
@media (min-width: 700px) {
  /* line 303, ../sass/screen.scss */
  .sitewrapper {
    padding: 38px;
  }
}
/* line 313, ../sass/screen.scss */
.thumb {
  width: 340px;
  height: 376px;
}
@media (min-width: 700px) {
  /* line 313, ../sass/screen.scss */
  .thumb {
    width: 420px;
    height: 481px;
  }
}

/* line 322, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #1a1a1a;
}
input {
  -webkit-appearance: none;
}

/* line 326, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #1a1a1a;
}

/* line 330, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #1a1a1a;
}

/* line 334, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #1a1a1a;
}


hr {
  border: none;
  height: 3px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.fa-arrow-right {
  color: #b71c1c;
}

.hide {
  display: none;
}

/* *************** MODAL *************** */
a.btn{
  display:block;
  height: 46px;
  width: 340px;
  font-family: 'Comfortaa', "proxima-nova",sans-serif;
  font-weight: 600;
  text-align:center;
  text-decoration:none;
}

.modal-wrapper{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgb(255, 241, 208,0.75);
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open{
  opacity:1;
  visibility:visible;
}

.modal{
  width:600px;
  height:500px;
  display:block;
  margin:50% 0 0 -300px;
  position:relative;
  top:50%; left:50%;
  background:#fff;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal{
  margin-top:-200px;
  opacity:1;

}

.head{
  width:90%;
  height:32px;
  padding:1.0em 5%;
  overflow:hidden;
  background:#1a237e;
  font-size: 28px;
  color: white;
}

.btn-close{
  width:32px;
  height:32px;
  display:block;
  float:right;
}

.btn-close::before, .btn-close::after{
  content:'';
  width:32px;
  height:6px;
  display:block;
  background:#fff;
}

.btn-close::before{
  margin-top:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.btn-close::after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.content{
  padding:5%;
}
div.content img {
  width:540px;
  height: auto;
  max-width: 150px; 
  max-height: 150px;
  padding-bottom: 130px;
}

.contentleft {
  display: inline-block;
  width: 30%;
  margin-right: 20px;
}
.contentright {
  display: inline-block;
  width: 50%;
}

.avatar {
  width: 100%;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dbac9e' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

div.avatar img {
  width:540px;
  height: auto;
  max-width: 200px; 
  max-height: 200px;
  margin-left: 30px;
}

.avatarcontentleft {
  display: inline-block;
  width: 30%;
}
.avatarcontentright {
  display: inline-block;
  width: 50%;
  margin-left: 100px;
}

/* *************** MOBILE RESPONSIVE MODAL *************** */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .modal {
    max-width: 400px;
    max-height: 450px;
    width:auto;
    height: auto;
    display: block;
    margin: 50% 0 0 -50%;
  }
/*  div.content img {
    visibility: hidden;
  }*/
  .contentleft, .contentright {
    display: block;
    width: 100%;
  }
  div.content img {
    height: 100px;
    padding-bottom: 0px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  div.avatar img { 
    margin-left: 50%;
  }
}

/* *************** AVATAR *************** */
/*div.avatar img {
  width:540px;
  height: auto;
  max-width: 200px; 
  max-height: 200px;
  margin-left: 30px;
}*/

.avatarcontentleft {
  display: inline-block;
  width: 30%;
}
.avatarcontentright {
  display: inline-block;
  width: 50%;
}


/* *************** MOBILE RESPONSIVE AVATAR *************** */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 .avatarcontentright {
    display: inline-block;
  }
  .avatarcontentleft {
    display: inline-block;
  }
}

/* *************** iPhone 5 LEARN MORE SECTION *************** */
@media screen and (device-aspect-ratio: 40/71) {
  hr {
    width: 125%;
  }
  .avatar {
    width: 125%;
  }
}

@media screen and (device-aspect-ratio: 2/3) {
  hr {
    width: 120%;
  }
  .avatar {
    width: 120%;
  }
}