<div class="section-title"> <!-- SECTION TITLE BEGIN -->

	<hr>

	<!-- ABOUT US -->
	<h2>About Us</h2>
	</br>

	<!-- VIMEO VIDEO -->
	<iframe src="https://player.vimeo.com/video/163937075" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	
	<!-- CONTENT -->
	<p class="mission"><strong>"Our core mission is to support art and help artists connect with people."</p></strong>
	<p>We believe art has a power to transform the world in a profound way. We support creatives and artists. Art matters to us and the community. It excites, provokes and inspires community. At Humble Art, we create products that give artists a platform to share their creative work. Humble Art is a lifestyle product development and creative shop.</p>

	<!-- VALUES -->
	<p class="mission"><strong>"We use our values to make decisions."</p></strong>
	<p><strong>"Believe.</strong> Great things have often humble beginnings. Work hard. Stay humble. Smile often. See beautiful things in humble places where others see nothing. Do small things with great love. Instead of fighting to be right, fight for what is right. Stay humble when you are victorious. Be curious. Have adventures. Tread lightly. Never stop learning. Love. Be thankful. <strong>Stay Humble!"</strong></p>

</div> <!-- SECTION TITLE END -->