http://alexpetralia.com/posts/2017/6/26/learning-linux-bash-to-get-things-done
https://github.com/k88hudson/git-flight-rules
https://news.ycombinator.com/item?id=14656591
http://www.commandlinefu.com/commands/browse
https://terminal.training/
http://ohmyz.sh/
https://github.com/exercism/bash
http://tldp.org/HOWTO/Bash-Prog-Intro-HOWTO.html
http://tldp.org/LDP/abs/html/
http://www.tldp.org/LDP/Bash-Beginners-Guide/html/
https://linux.die.net/man/1/bash
https://www.gnu.org/software/sed/manual/sed.html

GIT COMMANDS
http://ohshitgit.com/
https://longair.net/blog/2009/04/16/git-fetch-and-merge/

 
http://www.linuxcommand.org/
http://www.dsl.org/cookbook/cookbook_toc.html
https://github.com/philippschulte/vimCheatSheet/blob/master/README.md#cursor-movement