@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

html, body, {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

body {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive; 
  background: #b59a9a;
}

p, strong, h3, a {
  padding-top: 10px;
  font-family: monospace;
  line-height: 25px;
  font-weight: bold;
}

strong {
  text-decoration: underline;
}

h3 {
  font-size: 20px;
}

ul {
  list-style-position: inside;
  list-style: none;
  padding-inline-start:0;
}

textarea {
  margin-right: 35px;
}

.sub-heading {
  color: white;
}

#days {
  font-size: 200px;
  color: #db4844;
}
#hours {
  font-size: 150px;
  color: #f07c22;
}
#minutes {
  font-size: 100px;
  color: #f6da74;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}

.counter div {
  display: inline-block;
  line-height: 1;
  padding: 10px;
  font-size: 40px;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

#typed {
  font-size: 42px;
  margin-top: 30px;
}

.container-wrapper {
  display: inline-block;
  position:relative; 
  border-style: solid;
  border-color:white;
  border-width: 50px;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.container-wrapper:before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}
.container-wrapper:after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}

.video {
  width: 100%;
  height: 100%;
  position:relative;
  z-index:0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.75;
}

.playpause {
  background-repeat:no-repeat;
  width:25px;
  height:25px;
  left:0%;
  right:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
}

.playpause-svg {
  fill: white;
  cursor: pointer;
}

.content {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width: 100%;
}

.btn {
  background: #db4844;
  color: #ffffff;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 2px 5px 0 #7b2725;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  width: 100px;
}

a { 
  color: inherit; 
  text-decoration: none;
  font-weight: normal;
}

.link {
  text-decoration: underline;
  color: #2f84a7;
}

   @import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
   @import url(https://fonts.googleapis.com/css?family=Handlee);
   @import url(https://fonts.googleapis.com/css?family=Give+You+Glory);
   html {
     -webkit-font-smoothing: antialiased;
   }
   
   .library-card {
     font-family: monospace;
     -webkit-transform: rotate(3deg);
             transform: rotate(3deg);
   }
   
   .library-card.envelope {
     background-color: #d9cc8c;
     border-radius: 3px;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
     height: 300px;
     margin: 100px auto 0;
     padding-top: 50px;
     position: relative;
     width: 290px;
     padding-bottom: 70px;
   }
   
   .library-card > .front {
     background-color: #d9cc8c;
     background: -webkit-radial-gradient(#f2eed9, #d9cc8c) 50% -150px, #d9cc8c;
     background-repeat: no-repeat;
     background-size: 150% 500px;
     border-radius: 2px 2px 3px 3px;
     box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1);
     cursor: pointer;
     height: 350px;
     margin-left: 0px;
     position: relative;
     width: 290px;
     z-index: 1;
   }
   
   .library-card > .card {
     background-color: #f0f0f0;
     border-radius: 3px;
     box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
     height: 450px;
     margin-left: 5px;
     position: absolute;
     top: -60px;
     width: 280px;
     -webkit-backface-visibility: hidden;
     -webkit-transform: rotate(1deg);
   }
   
   .envelope.card-out > .card {
     box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
     -webkit-animation: card-pull 1s 1;
     -webkit-transform: rotate(-5deg);
     z-index: 2;
   }
   
   .envelope.card-in > .card {
     box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
     -webkit-animation: card-in 1s 1;
     z-index: 0;
   }
   
   @-webkit-keyframes card-pull {
     0% {
       box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
       top: -60px;
       -webkit-transform: rotate(1deg);
       z-index: 0;
     }
     50% {
       box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
       top: -400px;
       -webkit-transform: rotate(-1deg);
       z-index: 0;
     }
     100% {
       box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
       top: -60px;
       -webkit-transform: rotate(-5deg);
       z-index: 2;
     }
   }
   @-webkit-keyframes card-in {
     0% {
       box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
       top: -60px;
       -webkit-transform: rotate(-5deg);
       z-index: 2;
     }
     50% {
       box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
       top: -400px;
       -webkit-transform: rotate(-1deg);
       z-index: 2;
     }
     55% {
       z-index: 0;
     }
     100% {
       box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
       top: -60px;
       -webkit-transform: rotate(1deg);
       z-index: 0;
     }
   }
   @-webkit-keyframes card-stuff {
     0% {
       box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
       top: -60px;
       -webkit-transform: rotate(-5deg);
       z-index: 2;
     }
     50% {
       box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
       top: -400px;
       -webkit-transform: rotateZ(-1deg);
       z-index: 0;
     }
     100% {
       box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
       top: -60px;
       -webkit-transform: rotate(1deg);
       z-index: 0;
     }
   }
   .library-card .card {
     line-height: 30px;
   }
   
   .library-card .stamp {
     color: #423d24;
     font-family: Futura;
     font-size: 16px;
     position: relative;
     top: 100px;
     text-align: center;
   }
   
   .library-card .dewey-decimal {
     float: left;
     height: 106px;
     padding-left: 10px;
     width: 60px;
   }
   
   .library-card .title {
     margin-right: 75px;
     line-height: 18px;
     text-align: center;
   }
   
   .library-card table {
     clear: left;
   }
   .library-card table tr {
     border-top: 1px solid #000090;
   }
   .library-card table td:last-child {
     border-left: 1px solid #000090;
   }
   .library-card table tr:nth-child(1) {
     border-top: 2px solid #000090;
   }
   .library-card table tr:nth-child(2) {
     border-top: 2px solid #000090;
   }
   
   .library-card th {
     font-family: Futura;
     font-size: 10px;
     text-align: center;
     text-transform: uppercase;
   }
   
   .library-card .due-date {
     padding: 0 2px;
     width: 61px;
   }
   
   .library-card td.due-date {
     color: #af0000;
     font-size: 12px;
     font-weight: bold;
     position: relative;
     -webkit-transform: rotate(1deg);
   }
   
   .library-card tr:nth-child(2) td.due-date {
    -webkit-transform: rotate(-3deg);
   }
   
   .library-card tr:nth-child(3) td.due-date {
     -webkit-transform: rotate(5deg);
     right: -3px;
   }
   
   .library-card .issued-to {
     padding: 0 5px;
     width: 210px;
   }
   
   .library-card td.issued-to {
     font-family: 'Covered By Your Grace', cursive;
     font-size: 18px;
   }
   
   .library-card tr:nth-child(2) td.issued-to {
     font-family: 'Covered By Your Grace', cursive;
     font-size: 18px;
   }
   
   .library-card tr:nth-child(3) td.issued-to {
     font-family: 'Covered By Your Grace', cursive;
     font-size: 18px;
     -webkit-transform: rotate(1deg);
   }
   
   .form-label {
     text-align: right;
   }
   .form-label * {
     padding-right: 5px;
   }
   
   #rsvp-form {
     position: absolute;
     top: 267px;
     left: 85px;
   }
   #rsvp-form input {
     border: none;
     background: rgba(255, 255, 255, 0);
     height: 35px;
     width: 175px;
   }
   #rsvp-form .attending-container {
     padding: 0px;
     margin: 0px;
     height: 38px;
   }
   #rsvp-form label {
     color: rgba(0, 0, 0, 0.3);
     display: block;
     float: left;
     margin-left: 15px;
     padding-left: 15px;
     text-indent: -15px;
   }
   #rsvp-form select {
     margin-left: 7px;
     padding: 5px 0;
     -webkit-appearance: none;
        -moz-appearance: none;
             appearance: none;
     background-color: #f0f0f0;
     border: none;
     color: rgba(0, 0, 0, 0.5);
   }
   #rsvp-form select option {
     color: black;
   }
   #rsvp-form .submit {
     cursor: pointer;
     text-align: center;
     letter-spacing: 5px;
     font-family: monospace;
     font-size: 150%;
     margin-left: -40px;
     color: red;
     border: 3px solid red;
     border-radius: 10px;
     width: 150px;
     background-color: #f0f0f0;
   }

  .navigation {
    margin-top: 20px;
    margin-left: 5px;
  }
   
  #menu {
    display: none;
    list-style: none;
  }

  #menu li  a{
    font-family: 'Covered By Your Grace', cursive;
  }
  
  /*Change toggle size by adjusting width & height*/
  .tb-menu-toggle {
    border: 0;
    position: relative;
    background: transparent;
    cursor: pointer;
  }
  
  /*Change toggle color here*/
  .tb-menu-toggle i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    box-shadow: -1px 1px 0px 0 rgba(0, 0, 0, 0.25), 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    -webkit-transition:all .2s;
     -moz-transition:all .2s;
       -o-transition:all .2s;
          transition:all .2s;
  }
  .tb-menu-toggle i:nth-child(2) {
    top: 40%;
  }
  .tb-menu-toggle i:nth-child(3) {
    top: 80%;
  }
  
  /*Animation of the toggle*/
  .tb-menu-toggle.tb-animate-toggle i:first-child,
  .tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
    top: 40%;
    -webkit-transform:rotate(45deg);
     -moz-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
       -o-transform:rotate(45deg);
          transform:rotate(45deg);
  } 
  .tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
    top: 40%;
    -webkit-transform:rotate(-45deg);
     -moz-transform:rotate(-45deg);
      -ms-transform:rotate(-45deg);
       -o-transform:rotate(-45deg);
          transform:rotate(-45deg);
  }

  .tb-mobile-menu li a {
    font-size: 30px;
  }

  hr {
    border: 0;
    height: 2px;
    margin:18px 0;
    position:relative;
    background: -moz-linear-gradient(left, rgba(255,0,0,0) 0%, rgba(255,0,0,0) 15%, #db4844 50%, rgba(255,0,0,0) 85%, rgba(255,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,0,0)), color-stop(15%,rgba(255,0,0,0)), color-stop(50%,#db4844), color-stop(85%,rgba(255,0,0,0)), color-stop(100%,rgba(255,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 15%,#db4844 50%,rgba(255,0,0,0) 85%,rgba(255,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 15%,#db4844 50%,rgba(255,0,0,0) 85%,rgba(255,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 15%,#db4844 50%,rgba(255,0,0,0) 85%,rgba(255,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255,0,0,0) 0%,rgba(255,0,0,0) 15%,#db4844 50%,rgba(255,0,0,0) 85%,rgba(255,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */
}

hr:before {
    content: "";
    display: block;
    border-top: solid 1px rgba(255,100,100,0.100);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.container {
  margin-top: 50px;
}
.col-sm img {
  width: 100%;
  height: auto;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 80%;  /* The width is the width of the web page */
  border: solid 2vmin #eee;
  border-bottom-color: #402020;
  border-left-color: #5d3939;
  border-radius: 2px;
  border-right-color: #5d3939;
  border-top-color: #402020;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
 }

.accomodation {
  color: #c13251;
  margin-top: 20px;
  text-decoration: underline;
}
.event {
  color: #398053;
  margin-top: 20px;
  text-decoration: underline;
}
.bride-groom {
  color: #625cde;
  margin-top: 20px;
  text-decoration: underline;
}
.venue {
  color: hsl(96, 76%, 43%); 
  margin-top: 20px;
  text-decoration: underline;
}
.rsvp {
  color: #2f58a7;
  margin-top: 20px;
  text-decoration: underline;
}

.polaroid {
  position: relative;
  margin: 0 auto;
  padding-top: 12px;
  width: 373px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.5), inset 0 0px 2px rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  transform: rotate(-2deg);
  background-color: #fbfbfb;
}
.polaroid .pic {
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), inset 0 10px 50px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}
.polaroid .text-container {
  margin: 0;
  padding: 14px 0;
  color: #386fa0;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .content {
    position: unset;
  }
  .btn {
    margin: none;
  }
  .counter div {
    padding: 0;
  }
  .sub-heading {
    margin-top: 10px;
  }
  footer {
    padding-top: 12px;
  }
  .container {
    margin-top: 25px;
  }
  .col {
    flex-basis: auto;
  }
}

@media only screen and (max-width: 400px) {
  .countdown, .sub-heading {
    margin: 5px;
  }
}
 
@media (min-width: 576px) {
  .container {
    max-width: none;
  }
}
